---
import { getCldOgImageUrl } from 'astro-cloudinary/helpers';

import { ClientRouter } from 'astro:transitions';
import '@fontsource/newsreader/400.css';
import '@fontsource/newsreader/500.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';

import { site } from '~/lib/data';

export interface Props {
  title: string;
  description?: string;
  keywords?: string[];
}

const ogImageUrl = getCldOgImageUrl({ src: 'v1738686509/og_image_igdjon' });
const {
  title,
  description = site.description,
  keywords = site.keywords,
} = Astro.props as Props;
const { siteName, siteUrl } = site;
---

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#171717" />
<link rel="canonical" href={`${siteUrl}${Astro.url.pathname}`} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="keywords" content={keywords.join(',').toLowerCase()} />
<meta name="msapplication-TileColor" content="#f2f1ec" />
<meta name="theme-color" content="#f2f1ec" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{`${title} | ${siteName}`}</title>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://up2dul.dev/" />
<meta property="og:title" content="Home | Abdul Malik" />
<meta
  property="og:description"
  content="A digital garden (personal website) by Abdul Malik, a Frontend Web Developer based in Indonesia."
/>
<meta property="og:image" content={ogImageUrl} />
<meta property="og:secure_url" content={ogImageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://up2dul.dev/" />
<meta property="twitter:title" content="Home | Abdul Malik" />
<meta
  property="twitter:description"
  content="A digital garden (personal website) by Abdul Malik, a Frontend Web Developer based in Indonesia."
/>
<meta property="twitter:image" content={ogImageUrl} />

<ClientRouter />
